{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>responsive personal portfolio website design tutorail</title>

    <!-- font awesome cdn link  -->
    <script src="{% static '../static/js/main.js' %}"></script>

    <!-- custom css file link  -->
    <link rel="stylesheet" type="text/css" href="{% static '../static/css/main.css' %}">

</head>
<body>

<!-- header section starts  -->

<header>

    <div class="user">
        <img src="{% static '/images/m.jpg' %}">
        <h3 class="name">Shakhboz</h3>
        <p class="post">Back end developer</p>
    </div>

    <nav class="navbar">
        <ul>
            <li><a href="#home">home</a></li>
            <li><a href="#about">about</a></li>
            <li><a href="#education">education</a></li>
            <li><a href="#contact">contact</a></li>
        </ul>
    </nav>

</header>

<!-- header section ends -->

<div id="menu" class="fas fa-bars"></div>

<!-- home section starts  -->

<section class="home" id="home">

    <h3>HI THERE !</h3>
    <h1>I'M <span>Shakhboz</span></h1>
    <p>Developed web application back end components while communicating with 30+ clients to identify their needs/goals
        and work on meeting them.
        Maintained large databases and configured services to reduce software maintenance expenses, decreasing the costs
        by 15% within just one year.
        Trained and supervised 3 employees, providing training support/guidance.
        Obtained the Employee of the Year Award for meeting and exceeding all assigned goals and objectives and
        contributing to 33% overall success.

    </p>
    <a href="#about">
        <button class="btn">about me <i class="fas fa-user"></i></button>
    </a>

</section>

<!-- home section ends -->

<!-- about section starts  -->

<section class="about" id="about">

    <h1 class="heading"><span>about</span> me </h1>

    <div class="row">

        <div class="info">
            <h3><span> name : </span> Shakhboz </h3>
            <h3><span> age : </span> 20 </h3>
            <h3><span> qualification : </span> BMS </h3>
            <h3><span> post : </span> Back end developer </h3>
            <h3><span> language : </span> English\Russian\Uzbek </h3>
        </div>

        <div class="counter">

            <div class="box">
                <span>1+</span>
                <h3>years of experience</h3>
            </div>

            <div class="box">
                <span>10+</span>
                <h3>porject completed</h3>
            </div>

            <div class="box">
                <span>0+</span>
                <h3>happy clients</h3>
            </div>

            <div class="box">
                <span>2+</span>
                <h3>awards won</h3>
            </div>

        </div>

    </div>

</section>

<!-- about section ends -->

<!-- education section starts  -->

<section class="education" id="education">

    <h1 class="heading"> my <span>education</span></h1>

    <div class="box-container">

        <div class="box">
            <i class="fas fa-graduation-cap"></i>
            <span>2018-2019</span>
            <h3>Karakul academic Lyceum</h3>
            <p>Economy direction!</p>
        </div>

        <div class="box">
            <i class="fas fa-graduation-cap"></i>
            <span>2019-2020</span>
            <h3>Bux MTI academic Lyceum No. 1</h3>
            <p>Economy direction!</p>
        </div>

        <div class="box">
            <i class="fas fa-graduation-cap"></i>
            <span>2020-2025</span>
            <h3>Bukhara State University</h3>
            <p>Faculty of Economics and tourism</p>
        </div>

        <div class="box">
            <i class="fas fa-graduation-cap"></i>
            <span>2022-2023</span>
            <h3>PDP academy</h3>
            <p>Python backend developer</p>
        </div>

    </div>

</section>

<!-- education section ends -->


<!-- contact section starts  -->

<section class="contact" id="contact">

    <h1 class="heading"><span>contact</span> me </h1>

    <div class="row">

        <div class="content">

            <h3 class="title">contact info</h3>

            <div class="info">
                <h3><i class="fas fa-envelope"></i> ✉️ shakhbozdev@gmail.com </h3>
                <h3><i class="fas fa-phone"></i> 📱+998943200807 </h3>
                <h3><i class="fas fa-map-marker-alt"></i> 📍Tashkent , Uzbekistan </h3>
            </div>

        </div>

        <form action="">

            <input type="text" placeholder="name" class="box">
            <input type="email" placeholder="email" class="box">
            <input type="text" placeholder="project" class="box">
            <textarea name="" id="" cols="30" rows="10" class="box message" placeholder="message"></textarea>
            <button type="submit" class="btn"> send <i class="fas fa-paper-plane"></i></button>

        </form>

    </div>

</section>

<!-- contact section ends -->


<!-- scroll top button  -->

<a href="#home" class="top">
    <img src="images/scroll-top-img.png" alt="">
</a>


<!-- jquery cdn link  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- custom js file link  -->
<script src="js/script.js"></script>


</body>
</html>